body {
    background: url('https://e0.pxfuel.com/wallpapers/31/70/desktop-wallpaper-writing-background-black-writers.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.navBar {
    height: 5rem;
}